/* body {
	background-color: #f58b9d;
}

p {
	color: #7c087c
}
button {
	background-color: #08e6e6;
	color: #b87803;
	border: none;
} */


/*                         id             */
/* #heading{
	color: blue;
	background-color: yellow;
} */


/*                          class       */
/* .heading{
	color: blue;
	background-color: yellow;
}

h1 {
	visibility: hidden;
} */


/*                                    question 2          */
.box{
	height : 100px;
	width : 100px;
	border: 1px solid black;
	margin: 5px;
	text-align: center;
	background-color: aquamarine;
}